body {
  background-color: #19a2ae;
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  overflow: hidden;

  color: #6a6f81;
  color: hsl(227, 10%, 46%);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
}

.bg-top-img,
.bg-bottom-img {
  position: absolute;
}

.bg-top-img {
  transform: translate(-35%, -55%);
}

.bg-bottom-img {
  bottom: 0;
  right: 0;
  transform: translate(25%, 65%);
}

.card {
  background-color: white;
  border-radius: 15px;
  width: 340px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-top {
  background-image: url("images/bg-pattern-card.svg");
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 125px;

  position: relative;
}

.card-top-profile-img {
  background-color: white;
  padding: 5px;
  border-radius: 50%;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-middle {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.card-middle-title {
  display: flex;
  justify-content: center;
}

.card-middle-name {
  font-weight: 700;
  color: #2d3248;
  color: hsl(229, 23%, 23%);
}

.card-middle-age {
  margin-left: 0.5em;
}

.card-middle-city {
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.9em;

  padding-bottom: 1.7em;
  border-bottom: 0.5px solid hsl(0, 0%, 59%);
}

.card-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 1.7em 0;
}

.card-bottom-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-bottom-stat-label {
  order: 1;
  font-size: 0.5em;
  margin-top: 0.7em;
  letter-spacing: 1.5px;
}

.card-bottom-stat-value {
  font-weight: 700;
  color: #2d3248;
  color: hsl(229, 23%, 23%);
}

.attribution {
  color: #2d3248;
  color: hsl(229, 23%, 23%);
  position: absolute;
  font-size: 1vh;
  bottom: 1em;
  left: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .card {
    width: 320px;
  }

  .bg-top-img {
    transform: translate(-65%, -55%);
  }

  .bg-bottom-img {
    transform: translate(65%, 55%);
  }
}
